# Dependencies
node_modules/
.venv/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
build/
*.ipa
*.apk
*.aab
